<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="x96.mate.launcher.App"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/banner"
        android:supportsRtl="true"
        android:theme="@style/Theme.Launcher"
        tools:targetApi="s">

        <activity
            android:name="x96.mate.launcher.main.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="x96.mate.launcher.main.DetailsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="x96.mate.launcher.main.row.news.detail.NewsDetailsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="x96.mate.launcher.main.row.apps.movies_apps.MoviesActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="x96.mate.launcher.main.row.utilities.details.UtilitiesDetailsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="x96.mate.launcher.main.row.radio.detail.RadioDetailsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="x96.mate.launcher.main.row.apps.app_drawer.AppDrawerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppDrawer" />

        <activity
            android:name="x96.mate.launcher.play.PlaybackActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="x96.mate.launcher.main.row.apps.app_drawer.error.BrowseErrorActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="x96.mate.launcher.play.PlayActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.FullScreen" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FILE_PROVIDER"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6893234291134320~2749684827" />
    </application>
</manifest>